<div class="container">  
  <p id="<%= category.id%>">
    <p><strong><%= category.name %></strong>
      <% if category.all_the_child_categories 
         category.all_the_child_categories
        else
          'No tiene categoria padre'
        end 
      %>
    </p>
      <p>
      <%= link_to 'Show', category, remote: true, class: "btn btn-light" %>
      <%= link_to 'Edit', edit_category_path(category), remote: true, class: "btn btn-light" %>
      <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-light"  %>
      </p><hr>
  </p>
</div>
