<div class="container">  
  <p id="<%= category.id%>">
    <p><strong><%= category.name_type[0] %></strong>
      <% if category.name_parent(category.category_id).empty? %>
        <%= category.name %><hr>
      <% else %>
        <%= category.name_parent(category.category_id) %> 
        <%= category.name %>
      <% end %>
    </p>
      <p>
      <%= link_to 'Show', category, remote: true, class: "btn btn-light" %>
      <%= link_to 'Edit', edit_category_path(category), remote: true, class: "btn btn-light" %>
      <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-light"  %>
      </p><hr>
  </p>
</div>
